dist/
deploy_versions/
.temp/
.rn_temp/
node_modules/
.DS_Store
.swc
*.local
/sourcemap.zip

# Android related
/android/**/build/
/android/**/outputs/
/android/**/.gradle/
/android/**/generated/
/android/app/src/main/assets/index.android.bundle
/android/app/src/main/assets/index.android.bundle.meta
/android/gradle/wrapper/gradle-wrapper.properties
!android/gradle/wrapper/gradle-wrapper.jar

# Android build artifacts
/android/app/build/
/android/app/*.apk
/android/app/*.aab
/android/app/*.jar
/android/app/*.war
/android/app/*.ear
/android/app/*.dex
/android/app/*.class
/android/app/*.keystore

# Android specific
*.apk
*.ap_
*.aab
*.dex
*.class
*.idx
*.jar
*.war
*.ear
*.classpath
*.project
.gradle/
gradle/
gradlew
gradlew.bat
/android/**/.gradle/
/android/**/local.properties
/android/**/proguard_logs/
/android/**/reports/
/android/**/test-results/
/android/**/tmp/
/android/**/intermediates/
/android/**/libs/
/android/**/obj/
/android/**/out/
/android/**/gen/

# iOS related
/ios/build/
/ios/Pods/
/ios/*.xcworkspace
/ios/*.xcodeproj/xcuserdata
/ios/*.xcodeproj/project.xcworkspace
/ios/DerivedData/
/ios/build/
/ios/*.ipa
/ios/*.app
/ios/*.app.dSYM

# iOS specific
*.pbxuser
*.mode1v3
*.mode2v3
*.030
*.perspectivev3
**/*sync/
.provisionprofile
*.o
*.dll
*.lib
*.msi
*.pdb
*.exe
*.target
*.keystore

# React Native build artifacts
/.bundle/
/index.ios.js
/index.android.js
/index.native.js

# macOS
.DS_Store
/android/app/src/main/res/
